<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.havefun.shortcode">
    <application
        android:allowBackup="false">
        <activity android:name=".ShortCodeActivity"/>
        <activity android:name=".activity.SpannableStringActivity"/>
        <activity android:name=".activity.EventBusActivity"/>
        <activity android:name=".activity.ThirdPartyActivity"/>
        <activity android:name=".activity.ViewPagerActivity"/>
        <activity android:name=".activity.JetpackActivity"/>
    </application>
</manifest>